/* main structure */
.desktopnavigationwrapper {
    width: 100%;
    padding: 1em 0;
    background-color: orange;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.desktopnavigationwrapper > div {
    align-self: center;
    display: inline;
}

.desktopnavigationwrapper > div:first-child {
    justify-self: left;
    padding: 0 1em;
}

.desktopnavigationwrapper > div:nth-child(2) {
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.desktopnavigationwrapper > div:last-child {
    justify-self: right;
    padding: 0 1em;
}

/* items */
.desktopnavigationwrapper img {
    width: 50px;
    cursor: pointer;
}

/* menu items */
.desktopnavigationwrapper > div:nth-child(2) > div {
    justify-self: center;
    align-self: center;
    cursor: pointer;
    text-transform: uppercase;
    padding: 1em;
}

/* sign in */
.desktopnavigationwrapper > div:last-child > div {
    cursor: pointer;
    text-transform: uppercase;
}